{
  "env": {
    "test": {
      "presets": [
        [
          "@jitesoft/main", {
          "transformRuntime": {
            "useESModules": false
          }
        }
        ]
      ]
    }
  },
  "presets": [
    [
      "@jitesoft/main",
      {
        "transformRuntime": {
          "useESModules": true
        }
      }
    ]
  ]
}
