{
    "presets": [
        [
            "@jitesoft/main",
            {
                "mode": "web",
                "useBuiltIns": "entry",
                "bugfixes": true
            }
        ]
    ]
}
